@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #f8f8fa;
  scroll-padding-top: 3rem;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav>ul>li {
  text-align: left;
  list-style: none;
  color: #777679;
  cursor: pointer;
  margin-bottom: 15px;
}

ul {
  width: fit-content;
  margin: 0;
  padding: 30px 0 0 30px;
}

.active {
  color: #6851ff;
  font-weight: 600;
}

.active::before {
  content: '\2022';
  color: #6851ff;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.nft {
  color: #777679;
}

.nft-name {
  font-weight: 600;
  color: black;
  font-family: 'Inter';
}

.nft-list {
  overflow: auto;
  max-height: 270px;
}

.nft:not(:last-child) {
  margin-bottom: 10px;
}

.cards-container {
  position: relative;
  top: 30px;
}

@media (min-width: 768px) {
  .cards-container {
    top: -60px;
  }
}

@media only screen and (max-width: 767px) {
  .cards-container {
    margin-top: -89px;
  }
}

.network-dropdown {
  margin: auto;
  width: fit-content;
  border-radius: 0.75rem;
}

.active-network {
  border: 1px solid #dddbe0;
  width: 264px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  margin: auto;
  padding: 12px 16px;
  border-radius: 0.75rem;
  background-color: #fff;
}

.active-network::selection {
  background-color: transparent;
}

.rotate {
  transform: rotate(180deg);
}

.network-options {
  overflow: hidden;
  width: fit-content;
  border: 1px solid #dddbe0;
  margin: 5px auto;
  padding: 5px 0;
  border-radius: 0.75rem;
  background-color: #fff;
}

.network-dropdown-option {
  width: 264px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: 0.1s;
  margin: auto;
  padding: 12px 16px;
  background-color: #fff;
}

.network-dropdown-option:hover {
  color: white;
  cursor: pointer;
  background-color: #6851ff;
}

.network-dropdown-option:active {
  opacity: 0.5;
}

.magic-logo {
  margin: 0 0 15px 0;
  text-align: center;
}

.demo-sub-header {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0;
  font-family: monospace;
}

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  background-size: 100vw 320px;
}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #d1d5db;
}

.login-method-grid {
  max-width: 100%;
  grid-template-rows: repeat(3, minmax(0, 1fr));
  gap: 1.25rem;
  padding: 1rem;
  margin-top: 2rem;
}

.login-method-grid-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-button {
  width: 100%;
  height: 3rem;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  transition: 0.1s;
  margin: auto;
  padding: 12px 8px;
  border-radius: 300px;
  border: none;
  background: #8271f3;
}

.login-button:disabled {
  background: #a799ff;
}

.login-button:hover:enabled {
  cursor: pointer;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), #a799ff;
}

.login-button:active:enabled {
  opacity: 0.5;
  cursor: pointer;
  transform: scale(0.99);
  background: #a799ff;
}

.links {
  display: flex;
  justify-content: center;
  margin: 20px auto 0 auto;
  font-size: 0.875rem;
  margin-bottom: 12px;
  font-weight: 600;
  color: white;
}

.link {
  transition: 0.1s;
  padding: 0 30px;
}

@media only screen and (max-width: 420px) {
  .link {
    padding: 0 15px;
  }
}

@media only screen and (max-width: 320px) {
  .link {
    padding: 0 5px;
  }
}

.link>a {
  cursor: pointer;
}

.link-divider {
  width: 1px;
  height: 1.25rem;
}

.footer-links {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  margin: 30px auto 0 auto;
  bottom: 2.5rem;
}

.wallet-method-container {
  text-align: left;
}

.wallet-method {
  width: fit-content;
  color: #522fd4;
  background-color: #edebff;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 500;
  transition: 0.1s;
  height: 2rem;
  padding: 6px 12px;
  border-radius: 32px;
  border: none;
  font-family: monospace;
}

.wallet-method:hover:enabled {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), #edebff;
  background-blend-mode: color-burn, normal;
}

.wallet-method:active:enabled {
  opacity: 0.5;
  transform: scale(0.99);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), #edebff;
}

.wallet-method-desc {
  color: #77767a;
  text-align: left;
  font-size: 0.875rem;
  margin-top: 10px;
}

.form-input {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 3rem;
  border: 1px solid #dddbe0;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #18171a;
  margin-bottom: 15px;
  padding: 12px 16px;
  border-radius: 10px;
  background: #ffffff;
}

.form-input::placeholder {
  color: #77767a;
}

.form-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
  color: #522fd4;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  transition: 0.1s;
  padding: 12px 24px;
  border-radius: 300px;
  border: none;
  background-color: #edebff;
}

.form-button:disabled {
  opacity: 0.5;
}

.form-button:hover:enabled {
  cursor: pointer;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), #edebff;
}

.form-button:active:enabled {
  opacity: 0.5;
  transform: scale(0.99);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), #edebff;
}

.loading-container {
  width: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
}

.loading {
  cursor: default;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.card {
  width: 344px;
  display: flex;
  flex-direction: column;
  margin: 0 auto 27px auto;
  padding: 32px 24px;
  border-radius: 1rem;
  background-color: #ffffff;
  box-shadow: 0px 4px 24px rgba(49, 49, 49, 0.1);
}

.card-header {
  font-size: 1.25rem;
  font-weight: 600;
  text-align: left;
  margin: 0 0 25px 0;
}

.card-label-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.card-label {
  font-size: 0.875rem;
  font-weight: 500;
  cursor: pointer;
}

.toast {
  position: fixed;
  width: fit-content;
  color: white;
  font-weight: 500;
  margin: 0 auto;
  padding: 8px 16px;
  border-radius: 10px;
  top: 30px;
  left: 0;
  right: 0;
  background-color: #00875f;
  box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.15);
}

.action-button {
  font-weight: 600;
  color: #6851ff;
  cursor: pointer;
  transition: 0.1s;
}

.disconnect-button {
  font-weight: 600;
  color: #d43100;
  cursor: pointer;
  transition: 0.1s;
}

.action-button:hover,
.disconnect-button:hover {
  opacity: 0.7;
}

.action-button:active,
.disconnect-button:active {
  transform: scale(0.98);
}

.code {
  font-size: 1rem;
  text-align: left;
  padding: 10px;
  border-radius: 10px;
  font-family: monospace;
  background: #f8f8fa;
  word-wrap: break-word;
}

.error {
  align-self: flex-start;
  font-size: 0.75rem;
  font-weight: 600;
  color: #b91c1c;
  justify-self: flex-start;
}

.divider {
  margin: 15px 0;
  border-bottom: 1px solid #ededf3;
}

.flex-row {
  display: flex;
  align-items: center;
}

.green-dot {
  height: 6px;
  width: 6px;
  background-color: #00cc8f;
  margin-right: 10px;
  border-radius: 50%;
}

.connected {
  font-size: 1rem;
  margin: 5px 0;
}

a {
  all: unset;
}

.app-header-container {
  display: block;
  width: 100%;
  min-height: 40%;
  flex-direction: column;
  gap: 10px;
  padding: 32px;
  align-items: center;
  background-image: url('/login_bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 80px;
  text-align: -webkit-center;
  filter: drop-shadow(0 35px 35px rgba(0, 0, 0, 0.25));
}

.redirect-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('/redirect_bg.png');
}

.redirect-card {
  background-color: #F8F8FA;
  border-radius: 10px;
  padding: 8px;
  margin: 48px;
  box-shadow: 0px 4px 24px rgba(49, 49, 49, 0.1);
}

.social-login-button {
  display: flex;
  flex-direction: row;
  min-width: 296px;
  height: 3rem;
  color: #3C4043;
  transition: 0.1s;
  padding: 12px 24px;
  border-radius: 300px;
  background-color: #ffffff;
  border: 2px solid #DADCE0;
  position: relative;
  top: 64px;
}

.social-login-button:disabled {
  opacity: 0.5;
}

.social-login-button:hover:enabled {
  cursor: pointer;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), #ffffff;
}

.social-login-button:active:enabled {
  opacity: 0.5;
  transform: scale(0.99);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), #ffffff;
}

.api-button {
  background-color: #6844bc;
  color: #FFFFFF;
  display: flex;
  width: 280px;
  justify-content: center;
  align-items: center;
  height: 3rem;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  transition: 0.1s;
  padding: 12px 24px;
  border-radius: 300px;
  border: none;
}